<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tb_hedao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,117}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{141,117}}</string>
                <key>sourceSize</key>
                <string>{145,137}</string>
            </dict>
            <key>di_WJ_zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,116},{50,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,160}}</string>
                <key>sourceSize</key>
                <string>{50,160}</string>
            </dict>
            <key>di_bt_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{118,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{118,118}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>di_bt_icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,168},{104,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{104,108}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>di_bt_icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,328},{100,104}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{100,104}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>di_bt_icon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,118},{112,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{112,100}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>di_bt_icon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,168},{122,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{122,106}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>di_bt_icon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{122,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{122,116}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>di_bt_icon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{122,112}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{122,112}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>di_bt_icon_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,220},{104,106}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{104,106}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>di_bt_icon_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,276},{120,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{120,106}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>di_bt_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{116,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{116,114}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>di_bt_icon_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,278},{114,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{114,114}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>di_bt_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,394},{116,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{116,110}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>di_bt_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{118,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{118,112}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>di_bt_icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{120,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{120,112}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>di_bt_icon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,384},{118,102}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{118,102}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dpsg.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a6ba01e7c6047ea0eeeb950de2e798b$</string>
            <key>textureFileName</key>
            <string>dpsg.png</string>
        </dict>
    </dict>
</plist>
